.money-transfers-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 5px;
    width: 100%;

    .transfers-pay {
        display: flex;
        align-items: center;
        justify-content: center;

        border: 2px solid rgb(128, 0, 0);
        width: 40%;
        height: 4.5em;
        border-radius: 7px;
        transition: border 0.1s ease;
        cursor: pointer;

        &:hover {
            border: 3px solid rgb(158, 15, 15);
        }

        .transfers-btn {
            display: flex;
            align-items: center;
            justify-content: center;

            height: 20px;
            width: 20px;
            font-size: 20px;

        }
    }

    .transfers-income {
        display: flex;
        align-items: center;
        justify-content: center;
        
        border: 2px solid green;
        width: 40%;
        height: 4.5em;
        border-radius: 7px;
        transition: border 0.1s ease;
        cursor: pointer;

        &:hover {
            border: 3px solid rgb(15, 158, 15);
        }

        .transfers-btn {
            display: flex;
            align-items: center;
            justify-content: center;

            height: 20px;
            width: 20px;
            font-size: 20px;
        }
    }


}