.money-transfers-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 5px;
    width: 100%;

    .transfers-pay {
        display: flex;
        align-items: center;
        justify-content: center;

        border: 2px solid var(--bg-clr3);
        width: 40%;
        height: 4.5em;
        border-radius: 7px;
        transition: border 0.1s ease;
        cursor: pointer;

        @media (min-width:991px) {
            width: 20%;
        }

        &:hover {
            border: 3px solid var(--bg-clr3);
        }

        .transfers-btn {
            display: flex;
            align-items: center;
            justify-content: center;

            height: 20px;
            width: 20px;
            font-size: 20px;

        }
    }

    .transfers-income {
        display: flex;
        align-items: center;
        justify-content: center;

        border: 2px solid var(--bg-clr3);
        width: 40%;
        height: 4.5em;
        border-radius: 7px;
        transition: border 0.1s ease;
        cursor: pointer;

        @media (min-width:991px) {
            width: 20%;
        }

        &:hover {
            border: 3px solid var(--bg-clr3);
        }

        .transfers-btn {
            display: flex;
            align-items: center;
            justify-content: center;

            height: 20px;
            width: 20px;
            font-size: 20px;
        }
    }


}