.app-header {

    width: 100%;
    background-color: var(--bg-clr1);
  
    

.header-info{
    display: flex;
    min-height: 3.5rem;
    padding: rem(10px) 1rem;


    nav {
        display: flex;
        width: 100%;
        align-items: center;
        gap: 1em;
        text-decoration: none;
        font-size: .8em;

        .active {
            color: var(--txt-clr2)
        }

        .logo {
            font-size: 1.4em;
            font-weight: bold;
            margin-inline-end: 2em;
            text-decoration: none;
            color: var(--txt-clr2)

        }

    }


}

   
}