.wallet-preview {

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .wallet-balance-container {
        display: flex;
        justify-content: center;
        align-items: center;

        background-color: $bg-clr3;
        width: 28%;
        min-height: 150px;
        border-radius: 10px;

        .wallet-balance {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
        }
    }


    .user-img {
        border-radius: 50%;
        display: block;
        max-width: 100%;
        border: 3px black solid;
    }
}