.wallet-preview {

    display: flex;
    justify-content: center;
    flex-direction: column;

    .wallet-balance {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }


    .user-img {
        border-radius: 50%;
        display: block;
        max-width: 100%;
        border: 3px black solid;
    }
}