.wallet-preview {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    min-height: 80vh;

    .wallet-balance-container {
        display: flex;
        background-color: var(--bg-clr3);
        border-radius: 10px;
        padding: 0 10px;

        .wallet-balance {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;

            h2{
                margin: 0;
            }
        }
    }

}