// Colors

$light-bg-clr2: #F2F1F0;
$light-txt-clr1: #262626;


$dark-bg-clr2: #262626;
$dark-txt-clr1: #F2F1F0;


$txt-clr2: #222;
$bg-clr2: $dark-bg-clr2;
$txt-clr1: $dark-txt-clr1;

[data-theme='light'] {
  --bg-clr2: #{$light-bg-clr2};
  --txt-clr1: #{$light-txt-clr1};
  --txt-clr2: #{$txt-clr2};
}

[data-theme='dark'] {
  --bg-clr2: #{$dark-bg-clr2};
  --txt-clr1: #{$dark-txt-clr1};
  --txt-clr2: #{$txt-clr2};
}

body {
  background-color: var(--bg-clr2);
  color: var(--txt-clr1);
}

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;