// Colors

//Light Colors
$light-bg-clr1: #101010f4;
$light-bg-clr2: #efefef;
$light-bg-clr3: #1E1C1C;

$light-txt-clr1: #1E1C1C;
$light-txt-clr2: #efefef;

//Dark Colors
$dark-bg-clr1: #efefef;
$dark-bg-clr2: #101010f4;
$dark-bg-clr3: #efefef;

$dark-txt-clr1: #efefef;
$dark-txt-clr2: #101010f4;



//Theme
[data-theme='light'] {
  --bg-clr1: #{$light-bg-clr1};
  --bg-clr2: #{$light-bg-clr2};
  --bg-clr3: #{$light-bg-clr3};

  --txt-clr1: #{$light-txt-clr1};
  --txt-clr2: #{$light-txt-clr2};
}

[data-theme='dark'] {
  --bg-clr1: #{$dark-bg-clr1};
  --bg-clr2: #{$dark-bg-clr2};
  --bg-clr3: #{$dark-bg-clr3};

  --txt-clr1: #{$dark-txt-clr1};
  --txt-clr2: #{$dark-txt-clr2};
}

body {
  background-color: var(--bg-clr2);
  color: var(--txt-clr1);
}

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;

//colors to add 


// Light Mode:

// Background: #efefef (light beige)
// Primary Text: #0D2531 (dark teal)
// Secondary Text: #02750D (dark green)
// Accent: #C6D144 (lime green)
// Subtle Accent: #74A6B1 (muted blue-gray)

// Dark Mode:

// Background: #0D2531 (dark teal)
// Primary Text: #efefef (light beige)
// Secondary Text: #C6D144 (lime green)
// Accent: #74A6B1 (muted blue-gray)
// Subtle Accent: #02750D (dark green)